[Unit]
Description=MATLAB Service (Browser Mode)
After=network.target

[Service]
User=matlab
ExecStart=/usr/bin/bash -ic 'matlab-proxy-app'
Restart=always
WorkingDirectory=/home/matlab/Documents/MATLAB
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
